/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fundo-azul: #eaf2ea;
   --color-caixas: #fbfbfb;
   --azul-botoes: #2a7ae4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 153px;
}

section.menu header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: var(--color-titulos);
}

nav ul.menu__list{
    display: flex;
    justify-content: space-between;
    width: 750px;
    font-size: 16px;

}

header img{
    margin-right: 16px;
}
/*Sessão Title*/

section.title{
    margin: 32px 0px;

}

div.title__container{
 width: 870px;
}

    div.title__container h2{
        font-size: 56px;
        font-weight: 700;
        line-height: 50px;
    }

    div.title__div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    }

    section.title img.profile{
    width: 294px;
    }

    section.title div.title__div div.title__container h3{
        font-size: 17px;
        line-height: 23px;
        width: 600px;
    }

    section.title div.title__div div.title__container h3{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }

    section.title div.title__div div.title__container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        font-size: 16px;
        width: 500px;
    }

/*Sessão About*/

section.about{
    padding: 62px 164px;
    background-color: var(--color-fundo-azul);
}
    .section__about{
        font-size: 32px;
    }

    .about__container{
        width: 800px;

    }

    .section.about div.about__container p{
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    .section.about div.about__container img{
        margin: 16px 0;
    }

    .section-title{
        font-size: 22px;
        text-align:  center;
    }

/* Sessão Skills*/
section.skills{
    padding: 64px 100px;
}   

    section.skills div.skills__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    section.skills div.skills__line div.skills__box{
        background-color: var(--color-caixas);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 23px 15px 23px 8px;
        width: 150px;
        height: 160px;
        border-radius: 40px;
    }

    .skills__box ul{
        margin: 0;
        padding: 0;
    }
/*Sessão Hobbies*/

section.hobbies{
    padding: 64px 100px;    
}

    section.hobbies div.hobbies__line{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }

    section.hobbies div.hobbies__line div.hobbies__box{
        background-color: var(--color-caixas);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 23px 15px 23px 8px;
        width: 150px;
        height: 160px;
        border-radius: 40px;
    }

    .hobbies__box ul{
        margin: 0;
        padding: 0;
    }

/* Experiência Acadêmica*/

section.academic{
    padding: 64px 0px;
    background-color: var(--color-fundo-azul);
}
    section.academic div.academic__courses{
        display: flex;
        justify-content: center;
    }

    section.academic div.academic__courses__box{
        width: 26.5rem;
        margin: 0 1rem;
    }

    div.academic__courses ul{
        margin: 0;
        padding: 0;
        text-align: center;
    }

    div.academic__courses ul li{
        padding: 0;
        margin: 32px;
    }

    div.academic__courses ul li.academic__courses__item__img{
        background-color: var(--color-caixas);
        padding: 1.5rem 1.5rem;
        border-radius: 40px;
    }

    div.academic__courses ul li.academic__courses__item__img:nth-child(1){

    }
/* experiência*/

section.experience{
    padding: 64px 100px;
}

    section.experience div.experiencie__box{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;
        margin: 5rem 0;
    }
    
    section.experience div.experiencie__box div.experience__info{

        width: 400px;

    }

    section.experience div.experiencie__box img.experience__img{
        height: 400px;
        border-radius: 30px;
    }
/*Contato*/

section.formcontato{
    padding: 64px 0px;
}

    section.formcontato div.formcontato__contacto{
        display: flex;
        justify-content: center;
    }

    section.formcontato div.formcontato__contacto div.formcontato--esquerda img.formcontato__img{
        border-radius: 30px;
    }

    section.formcontato div.formcontato__contacto div.formcontato__text{
        text-align: start;
        margin-bottom: 8px;
        padding-left: 2rem;
    }

    section.formcontato div.formcontato__contacto div.formcontato__text form.formcontato__form{
        text-align: start;
        margin-bottom: 8px;
    }

    section.formcontato div.formcontato__contacto div.formcontato__text form.formcontato__form input{
        text-align: start;
        margin-bottom: 10px;
    }

    section.formcontato div.formcontato__contacto div.formcontato__text form.formcontato__form textarea{
        text-align: start;
        margin-bottom: 10px;
    }

/*footeer*/

section.footer{
   text-align: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
